<<<<<<< HEAD
@import "../../paleta.scss";

#product-list {
    .product-list-item {
        border-radius: 20px;
        .product-list-item-inner {
            .product-image {
                .label-product,
                .label-promo {
=======
#product-list {
    .product-list-item {
        .product-list-item-inner {
            .product-image {
                .label-product, .label-promo {

>>>>>>> b22e8b99543c47269ce40491e415b0ddb0aba296
                }
            }
            .product-info {
                .product-name {
                    h2 {
<<<<<<< HEAD
                        a {
                        }
                    }
                }

                .product-price,
                .product-old-price {
                    .product-big-price {
                    }
                }

                .product-price,
                .product-sell-price {
                    .product-price {
                    }
                }

                .product-unit {
                }
            }
            .wrapper-product-combination {
                display: none !important;
            }
            .wrapper-btn-product {
                .wrapper-btn-buy-kit {
                    .btn,
                    .btn-buy-kit {
                        background: $dark-accent !important;
                        border-radius: 10px !important;
                        border: 0.1px groove  $dark-accent !important;
                        
                        .icon-buy,
                        .btn-icon {
                        }
                        .btn-text {
                            
                        }
                        &:hover {
                            background: transparent !important;
                            border: 0.1px groove  $dark-accent !important;
                            border-radius: 10px !important;
                            .btn-text {
                            color: $dark-accent;
                            }
                        }
                    }
                }
            }
        }
    }
}
=======
                        a { }
                    }
                 }
                
                .product-price, .product-old-price {
                    .product-big-price { }
                }

                .product-price, .product-sell-price {
                    .product-price { }
                }
                
                .product-unit { }

                .wrapper-product-combination { }

                .wrapper-btn-product {
                    .wrapper-btn-buy-kit {
                        .btn, .btn-buy-kit { 
                            .icon-buy, .btn-icon {
                                .btn-text {

                                }
                            }
                        }
                     }
                 }
            }
        }
    }
}
>>>>>>> b22e8b99543c47269ce40491e415b0ddb0aba296
